# Editor related ignores
*~

# LaTex related ignores
*.aux
*.log
*.nav
*.out
presentation.pdf
*.snm
*.toc
*.d
*.fls

# Makefile ignorse
*.make

# Mac related ignores
*.DS_Store

# Linux related ignores
*.backup
*.bak

# Matlab related ignores
*.asv

# BibTex related ignores
*.dvi
*.blg
*.bbl
*.gz(busy)
*.db_info
*.sci
*.qsf
*.qws
*.qdf
*.qsf

# Quartus related ignores

quartus/output_files/*
quartus/incremental_db/*
quartus/db/*
*.sopcinfo
*.qsf
# modelsim related ignores
vhdl/sdcard/modelsim/*
*.mtf
*.mti
*.rpt
*.summary
*.sof
*.cdf
*.smsg
*.qsys_edit
*.project
*.cproject
*.pin
*.jdi
*.done
*.bsf
*.cmp
*.v
quartus/de0_nano_system.sdc

#
software/bsp/*
*.o
*.elf
*.map
*.objdump

software/de0_nano_nios2/de0_nano_nios2.objdump
software/settings.bsp