
# Editor related ignores
*~

# LaTex related ignores
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.d
*.fls
*.vrb

# Makefile ignores
*.make

# Quartus related ignores
quartus/db/*
quartus/incremental_db/*

# Mac related ignores
*.DS_Store

# Linux related ignores
*.backup
*.bak

# Matlab related ignores
*.asv

# BibTex related ignores
*.dvi
*.blg
*.bbl
*.gz(busy)

# C related ignores
*.o
*out*
*.temp
ff_flac

# Modelsim related ignores
modelsim/extract_bits/work/*
*.wlf
*.nfs*
*.mti

# others
transcript
