
# Editor related ignores
*~

# LaTex related ignores
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.d
*.fls
*.vrb

# Makefile ignorse
*.make

# Mac related ignores
*.DS_Store

# Linux related ignores
*.backup

# Matlab related ignores
*.asv

# BibTex related ignores
*.dvi
*.blg
*.bbl
*.gz(busy)

# C related ignores
*.o
*out*
*.temp
ff_flac